extends layout

block content
  div(id='app')
    h1 #{title}
    div #{msg}
    div 
      input(name="card-name", v-model="searchTerm")
      button(v-on:click="search") Search
    h2 Vue List:
    //- Loader
    div(v-if="loading") 
      div(class="loader") 
        div(class="loader__spinner")
          div(v-for="index in 4" :key="index" class="loader__dot")
    //- Grid of Results
    div(v-else class="grid")   
      div(v-for="item in items" class="grid__col") 
        div(class="card")
          h2(class="card__title") {{item.name}} 
          p cmc: {{item.cmc}}
          div(class="card__art")
            img(
              v-if="item.imageUrl" 
              v-bind:src="item.imageUrl " 
              class="card__img"
              alt="item.name"
              )
            img(
              v-else v-bind:src="'/images/card-back.jpg'" 
              class="card__img"
              alt="No Card Art Found"
              )
    
  script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
  script(src='/javascripts/app.js')
    
